{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- plugins:css -->
<link rel="stylesheet" href="/static/admin/css//bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/static/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/static/admin/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/static/admin/vendors/css/vendor.bundle.addons.css">
<link rel="stylesheet" href="/static/admin/vendors/iconfonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/static/admin/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/admin/css/toastr.css">
<link rel="stylesheet" href="/static/admin/css/jquery.flextabs.css">
<link rel="stylesheet" href="/static/admin/css/jquery.flextabs.theme-default.css">
<link rel="stylesheet" href="/static/admin/css/ng-table.min.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/static/admin/css/style.css">
<link rel="stylesheet" href="/static/admin/css/general.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
