{% load static %}
<script src='/static/admin/js/angular.min.js'></script>
<script src="/static/admin/js/bs-stepper.min.js"></script>
<script src="/static/admin/js/jquery-3.3.1.min.js"></script>
<!-- plugins:js -->
<script src="/static/admin/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/admin/vendors/js/vendor.bundle.addons.js"></script>

<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/admin/js/off-canvas.js"></script>
<script src="/static/admin/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/admin/js/dashboard.js"></script>
<script src="/static/admin/js/bootstrap-datetimepicker.js"></script>
<script src="/static/admin/js/locales/bootstrap-datetimepicker.es.js"></script>
<script src='/static/admin/js/ng-table.min.js'></script>

<script src="/static/admin/js/toastr.js"></script>
<script src="/static/admin/js/jquery.flextabs.js"></script>
<script src="/static/admin/js/initScript.js"></script>
<script src="/static/admin/js/multiselect.js"></script>
<script src="/static/admin/js/general.js"></script>
<script src="/static/admin/js/multiple.js"></script>


<!--
    <script src="/static/admin/controllers/mainController.js"></script>
<script src="/static/admin/controllers/interestSiteController.js"></script>
<script src="/static/admin/controllers/moduleController.js"></script>
<script src="/static/admin/controllers/inputController.js"></script>
<script src="/static/admin/controllers/userController.js"></script>
<script src="/static/admin/controllers/objectController.js"></script>
<script src="/static/admin/controllers/deviceController.js"></script>
<script src="/static/admin/controllers/messageController.js"></script>
<script src="/static/admin/controllers/ruleController.js"></script>
-->
<!-- End custom js for this page-->
