{% load static %}
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4 welcome-home">
        </div>
        <div class="col-sm-8">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 ">
            <div class="col-sm-12 informative-div">
                <div class="title">
                    <p>Cargas Masivas</p>
                </div>
                <img src='{% static "login/img/upload.png" %}' width="250px" />
                <div class="text">
                    <p>
                        La aplicación te permite crear, actualizar y eliminar gran cantidad de registros los cuales son 
                        cargados mediante un archivo excel para posteriormente ser validados y modificados en la base de datos.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="col-sm-12 informative-div">
                <div class="title">
                    <p>Pedidos</p>
                </div>
                <img src='{% static "login/img/credit.png" %}' width="250px" />
                <div class="text">
                    <p>La aplicacion te permite ver todas las compras que se han realizado en el ultimo mes.</p>
                </div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="col-sm-12 informative-div">
                <div class="title">
                    <p>Informacion</p>
                </div>
                <img src='{% static "login/img/edit.png" %}' width="250px" />
                <div class="text">
                    <p>
                        Edición, creacion y eliminación de información de diferentes secciones como usuarios, 
                        productos, etc. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>